
 .wrapper__tabs-history {
	 display: flex;
   flex-wrap: wrap;
   justify-items: center;
   align-items: center;
   width: 100%;
   gap: 10px;
}
 .item-link {
	 @apply bg-blue-medium rounded-[15px] flex justify-center items-center h-[40px];
   transition: all 0.1s ease-in;
}

.item-link.active {
  @apply bg-green text-text-black
}

.half-width {
  width: calc(50% - 5px);
}

.full-width {
  width: 100%;
}

@media screen and (max-width: 380px) {
  .item-link {
    font-size: 14px;
  }
}


 