.users__wrapper {
  @apply flex justify-between gap-[20px] overflow-auto mb-[20px];
}

.users_wrapper {
  transition: all 0.2s ease-in-out;
  transform: translateX(-400px);
}

.users_wrapper_static {
  transition: all 0.2s ease-in-out;
  transform: translateX(0px);
}