html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

li {
  list-style: none;
}

img {
  max-width: 100%;
}


footer {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #333;
  color: white;
  text-align: center;
}

body {
  @apply bg-blue-dark text-white font-Roboto;
  overflow-x: hidden;
}

button {
  cursor: pointer;
}

a {
  cursor: pointer;
}


body::-webkit-scrollbar {
  opacity: 0;             /* ширина всей полосы прокрутки */
}

