.create-deal-block {
  transition: all 0.3s ease-in-out;
  position: absolute;
  left: 1500px;
  top: 10px;
  opacity: 0;
}

.create-deal-block.go-left {
  left: 0px;
  opacity: 100%;
}

.create-deal-block.go-right {
  left: 1500px
}