.create-deal-block-profile {
  transition: all 0.3s ease-in-out;
  position: fixed;
  left: 1600px;
}

.create-deal-block-profile.go-left-profile {
  left: 0px
}

.create-deal-block-profile.go-right-profile {
  left: 1600px
}

.success_text {
  @apply bg-blue-medium h-[50px] w-[290px] rounded-[20px] flex justify-center items-center
}