
.wrapper__tabs-profile {
  display: flex;
  justify-content: space-between;
  transition: all 0.3s ease-in;
  margin-bottom: 30px;
}
.item-link {
  position: relative;
  display: flex;
  align-items: center;
  color: #fff;
  text-decoration: none;
  letter-spacing: 0.5px;
}
